---
import Layout from "@layouts/Layout.astro";
import GenreList from "@components/GenreList/GenreList";
import SeasonalAnimeCarousel from "@components/SeasonalAnime/SeasonAnimeCarousel";
import TopAnime from "@components/TopAnimeSection/TopAnime/TopAnime";
import TopAnimeSection from "@components/TopAnimeSection/TopAnimeSection";

import { fetchAnimeGenres } from "../helpers/index/fetchGenres";
import { fetchSeasonalAnime } from "../helpers/index/fetchSeasonalAnime";
import { fetchTopAnime } from "../helpers/index/fetchTopAnime";
import "@fontsource-variable/rubik";
import { myAPI } from "@helpers/globalHelpers";

const allGenre = await fetchAnimeGenres(myAPI);
const seasonalAnime = await fetchSeasonalAnime(myAPI);
const allTopAnime = await fetchTopAnime(myAPI);
---

<Layout title="Welcome to FindAnime!">
  {
    allGenre ? (
      <GenreList client:visible data={allGenre} />
    ) : (
      <p>Cannot get anime gengre!</p>
    )
  }
  {
    seasonalAnime ? (
      <SeasonalAnimeCarousel client:visible seasonalAnime={seasonalAnime} />
    ) : (
      <p>Cannot get top anime!</p>
    )
  }
  {
    allTopAnime ? (
      <TopAnimeSection>
        <TopAnime title="Top Airing" topAnime={allTopAnime.topAiring.data} />
        <TopAnime
          title="Top Upcoming"
          topAnime={allTopAnime.topUpcoming.data}
        />
        <TopAnime
          title="Most Popular"
          topAnime={allTopAnime.mostPopular.data}
        />
      </TopAnimeSection>
    ) : (
      <p>Cannot get top anime!</p>
    )
  }
</Layout>

<style is:global>
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    background-color: #e0f2fe;
  }

  div,
  ul {
    scrollbar-width: none;
  }
  ul::-webkit-scrollbar {
    display: none;
  }
  ul::-webkit-scrollbar {
    display: none;
  }
  select {
    -webkit-appearance: none;
  }
</style>
